* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: grey;
}

.navbar {
    background-color: #008366;
    z-index: 999;
    transition: background-color 0.3s ease;
    width: 100%;
}

/* Section Start */
.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.wrapper .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.category-filter {
    margin-top: 100px;
}

.title {
    margin-bottom: 40px;
}

.title h1 {
    color: black;
    text-align: center;
    font-weight: 800;
    font-family: 36px;
    letter-spacing: 1px;
}

.filter-btns {
    text-align: center;
}

.filter-btn {
    background: none;
    cursor: pointer;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;
    font-size: 16px;
    color: grey;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.filter-btn::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: grey;
    transition: all 0.2s ease-in-out;
}

.filter-btn:hover {
    color: grey;
}

.filter-btn:hover::after {
    width: 100%;
}

/* active button */
.active-btn {
    color: grey;
}

.active-btn::after {
    width: 100%;
}

/* items */
.filter-items {
    margin: 0px 50px;
    margin-top: 40px;
}

.item-img {
    position: relative;
    overflow: hidden;
}

.item-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* discount klo mau */

.item-img img {
    width: 100%;
    display: block;
    transition: transform 0.2s ease-in-out;
}

.filter-item:hover .item-img img {
    transform: scale(1.1);
}

.item-info {
    padding: 14px 0;
}

.item-info p {
    font-weight: 600;
    font-size: 17px;
    margin-top: 8px;
}

.item-info span {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}

.add-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: greenyellow;
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    border-radius: 2px;
    border: 2px solid greenyellow;
    transition: all 0.2s ease-in-out;
}

.add-btn:hover {
    border-color: greenyellow;
    background-color: white;
    color: greenyellow;
}

.filter-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.filter-item {
    width: 100%;
    margin-bottom: 40px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-width: 450px) {
    .category-filter {
        margin-top: 200px;
    }
}

@media screen and (min-width: 768px) {
    .category-filter {
        margin-top: 150px;
    }
    .filter-item {
        width: calc(50% - 30px);
    }
}

@media screen and (min-width: 992px) {
    .category-filter {
        margin-top: 100px;
    }

    .filter-item {
        width: calc(33.3333% - 30px);
    }
}

@media screen and (min-width: 1200px) {
    .filter-item {
        width: calc(25% - 30px);
    }
}